body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  height: 100vH;
  font-family: sans-serif;
  background: #649173;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #DBD5A4, #649173);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #DBD5A4, #649173);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.app {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  width: 40rem;
  padding: 2rem;
}

input {
  background: transparent;
  height: 1.5rem;
  outline: 0;
  border-width: 0 0 1px;
  border-color: #649173;
  font-size: 1.2rem;
  color: rgb(80, 79, 79);
  margin: 1rem 0;
  width: 90%;
}

input:focus {
  border-color: #5f5f5f;
}

#addTaskButton,
#deleteTasksButton {
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  color: white;
  background-color: rgba(100, 145, 115, 0.6);
}

#addTaskButton {
  font-weight: bold;
  margin-left: 0.5rem;
  font-size: 1.2rem;
}

#addTaskButton:hover,
#deleteTasksButton:hover {
  opacity: 0.8;
  cursor: pointer;
}

.oneTodo {
  padding: 0.9rem 1rem;
  border-bottom: 1px solid #649173;
  width: 95%;
}

.oneTodo:hover {
  background-color: rgba(100, 145, 115, 0.3);
  cursor: pointer;
}

.crossedOver {
  text-decoration: line-through;
  color: #5f5f5f
}

@media only screen and (max-width: 500px) {
  .app {
    width: 15rem;
  }

  input {
    width: 75%;
  }
}

@media only screen and (min-width: 500px) {
  .app {
    width: 25rem;
  }

  input {
    width: 85%;
  }
}

@media only screen and (max-width: 800px) {
  .app {
    width: 35rem;
  }
}